@*@model BootstrapTemplate.Models.MultipleSelectSearchViewModel

    @Html.DropDownListFor(m => m.SelectedMultipleSearchId, new SelectList(Model.SearchModelList, "Name", "Name"), new { @multiple = "multiple", @placeholder = "Select filter" })*@



<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <label>Multiple Select</label>
        <select class="selectpicker" multiple>
            <option>Toronto</option>
            <option>Bucharest</option>
            <option>Paris</option>
        </select>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-xl-8 col-md-8 h-100 py-2 mb-3">
        <div class="input-group">
            <input type="text" class="form-control border" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                @*<button id="submit" type="submit">Search</button>*@
                <a id="Search" class="btn btn-primary" style="border-bottom: 1px solid #5694ca;" asp-area="" asp-controller="Result" asp-action="Index">
                    <i class="fas fa-search fa-sm"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>

</div>





@section scripts{

    <script>

        $(document).ready(function () {
            $('#submit').click(function () {
                var conceptName = $('#selectpicker').find(":selected").text();
                console.log(conceptName);
            });
        });

        $('#Search').click(function () {
            var conceptName = $('#selectpicker').find(":selected").text();
            console.log(conceptName);

            $.ajax({
                url: "/Result/GetData",
                type: 'GET',
                data: { valuetoset: conceptName },
                success: function (result) {
                    alert(result);
                },
                error: function () {
                    alert("error");
                }
            });
        });
    </script>

}